<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.easycode.modules.auth.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yi.easycode.modules.auth.entity.RoleEntity">
        <id column="id" property="id" />
        <result column="role_name" property="roleName" />
        <result column="role_describe" property="roleDescribe" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <select id="getRoleCode" resultType="com.yi.easycode.modules.auth.vo.SelectVO">
        SELECT id AS selectCode,role_name AS selectValue FROM t_role WHERE del_flag = 0
    </select>
    
    <select id="getRoleByUserId" resultType="com.yi.easycode.modules.auth.entity.RoleEntity">
        SELECT
            *
        FROM
            t_role r
                LEFT JOIN t_user_role_bind urb ON r.id = urb.role_id
        WHERE
            urb.user_id = #{userId};
    </select>
</mapper>
